<section>
  <div class="filterContainer">
    <div class="filterContainer_filters">
      <p class="filterContainer_filters_sortedBy">Cards sorted by</p>
        <select [(ngModel)]="orderRarity" (change)="changeRarityOrder($event)">
          <option value="" disabled selected>Rarity Order</option>
          <option value="Normal">Normal</option>
          <option value="Common to Mythic">Common to Mythic</option>
          <option value="Mythic to Common">Mythic to Common</option>
        </select>
      <p><strong>:</strong></p>
      <select [(ngModel)]="rarity" (change)="changeRarity($event)">
        <option value="" disabled selected>Rarity</option>
        <option value="All">All</option>
        <option value="Common">Common</option>
        <option value="Uncommon">Uncommon</option>
        <option value="Rare">Rare</option>
        <option value="Special">Special</option>
        <option value="Mythic">Mythic</option>
      </select>
      <p><strong>:</strong></p>

      <select [(ngModel)]="orderBy" (change)="handleSelect($event)">
        <option value="ASC">ASC</option>
        <option value="DESC">DESC</option>
      </select>
    </div>
    <div class="filterContainer_pagination">
      <button [disabled]="currentPage === 1" (click)="firstPage()">|<<</button>
      <button [disabled]="currentPage === 1" (click)="previousPage()">< Previous</button>
      <button [disabled]="currentPage === 937" (click)="nextPage()">Next 100 ></button>
      <button [disabled]="currentPage === 937" (click)="lastPage()">>>|</button>
    </div>
  </div>
</section>
