<section>
  <div class="filterContainer">
    <div class="filterContainer_filters">
      <select name="cards">
        <option value="" disabled selected>Cards</option>
        <option value="">Red</option>
        <option value="">Green</option>
        <option value="">Blue</option>
      </select>
      <p>as</p>
      <select name="Images">
        <option value="" disabled selected>Images</option>
        <option value="">Red</option>
        <option value="">Green</option>
        <option value="">Blue</option>
      </select>
      <p>sorted by</p>
      <select name="Rarity">
        <option value="" disabled selected>Rarity</option>
        <option value="">Red</option>
        <option value="">Green</option>
        <option value="">Blue</option>
      </select>
      <p><strong>:</strong></p>
      <select name="Desc">
        <option value="" disabled selected>Desc</option>
        <option value="">Red</option>
        <option value="">Green</option>
        <option value="">Blue</option>
      </select>
    </div>
    <div class="filterContainer_pagination">
      <button (click)="firstPage()">|<<</button>
      <button (click)="previousPage()">< Previous</button>
      <button (click)="nextPage()">Next 60 ></button>
      <button (click)="lastPage()">>>|</button>
    </div>
  </div>
</section>
