<div class="footerContainer">
  <div class="footerContainer__sections">
    <div>
      <h1>CARDS</h1>
      <hr />
      <p>Advanced Search</p>
      <p>Syntax Guide</p>
      <p>All Sets</p>
      <p>Random Card</p>
    </div>
    <div>
      <h1>SCRYFALL</h1>
      <hr />
      <p>Slack & Discord Bots</p>
      <p>Site FAQs & Help</p>
      <p>Scryfall Blog</p>
      <p>Scryfall Tagger</p>
      <p>Art Game</p>
      <p>Bolas Game</p>
    </div>
    <div>
      <h1>ACCOUNT</h1>
      <hr />
      <p>Your Account</p>
      <p>Register</p>
      <p>Terms of Service</p>
      <p>Contact Us</p>
      <p>Privacy & Security</p>
    </div>
    <div>
      <h1>DEVELOPERS</h1>
      <hr />
      <p>API Documentation</p>
      <p>Card Objects</p>
      <p>Card Imagery</p>
      <p>Bulk Data</p>
      <p>API Changelog</p>
    </div>
    <div>
      <h1>MORE</h1>
      <hr />
      <p>Donate to Scryfall</p>
      <p>Patreon</p>
      <p>Bluesky</p>
      <p>Mastodon</p>
      <p>Github</p>
    </div>
  </div>
  <div class="footerContainer__copyrightText">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, et nam ab
      vero repellat a repellendus dolores modi nemo. Aspernatur totam suscipit
      molestiae vitae sequi? Odio veritatis neque possimus iusto dicta voluptate
      veniam placeat quasi, laboriosam architecto adipisci officiis eaque
      deleniti ea. Doloribus, repellat eos temporibus quas, vel enim sit ipsa
      deserunt culpa at sed sequi obcaecati architecto aperiam facilis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae reiciendis
      est eveniet rerum iure aperiam repudiandae tenetur aut quia nemo,
      recusandae dolor quidem sit odit quos earum ducimus laudantium magnam.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
      quisquam, vitae, vel velit, iure eum eius optio cumque omnis veniam
      possimus delectus quos in aspernatur!
    </p>
    <p>All other content &copy; 2024 Scryfall.LLC</p>
  </div>
</div>
