<nav>
  <div class="navContainer">
    <div class="navContainer_buscador">
      <img
        routerLink="/"
        class="navContainer_buscador--magicLogo"
        src="../../../assets/images/mtg.png"
        width="35px"
        height="35px"
        alt=""
      />
      <img
        class="navContainer_buscador--lupa"
        src="../../../assets/icons/search.svg"
        width="15px"
        alt=""
      />
      <input
        type="text"
        [formControl]="searchInput"
        placeholder="Search for Magic cards..."
        (keyup.enter)="searchCard()"
      />
    </div>

    <div class="navContainer_colores">
      <img width="35px" src="../../../assets/icons/blue_color.png" alt="img1" />
      <img
        width="35px"
        src="../../../assets/icons/green_color.png"
        alt="img2"
      />
      <img
        width="35px"
        src="../../../assets/icons/purple_color.png"
        alt="img3"
      />
      <img width="35px" src="../../../assets/icons/red_color.png" alt="img4" />
      <img
        width="35px"
        src="../../../assets/icons/yellow_color.png"
        alt="img4"
      />
    </div>
  </div>
</nav>
