<ng-container *ngIf="cartasServicio.length > 0; else loadingCards">
  <app-filter> </app-filter>
  <section class="resultsContainer">
    <div>
      <p>
        <span>{{ currentPage }} - 937 pages</span>
        where the colors is W and (the card is available on Paper)
      </p>
    </div>
  </section>
  <div class="resultsContainerCounter">
    <span>Results {{ cartasServicio.length }}</span>
  </div>
  <section>
    <div class="cardsContainer">
      <ng-container>
        <app-card [card]="card" *ngFor="let card of cartasServicio"></app-card>
      </ng-container>
    </div>
  </section>
  <app-filter></app-filter>
</ng-container>

<ng-template #loadingCards>
  <section>
    <div class="loadingContainer">
      <img src="../../../assets/animations/loader.svg" alt="" />
      <h1>Loading Card...</h1>
    </div>
  </section>
</ng-template>
