/* Tags Styles */

section {
  > div {
    padding: 4vh 23vw;
  }
}

/* Classes Styles */

.HTMLContainer {
  background-color: var(--soft-white-blue);
  //background-color: red;
}

.cardContainer {
  padding: 4vh 23vw;

  .cardContainer_cardInfo {
    display: flex;
    > div {
      width: 50%;
    }

    .cardContainer_cardInfo--imgCardContainer {
      display: flex;
      flex-direction: column;
      > div {
        .boton {
          width: 100px;
          display: flex;
          justify-content: flex-start;
          gap: 5px;
          cursor: pointer;
          gap: 8px;
          border: 1px solid var(--dark-blue);
          padding: 6px 10px;
          border-radius: 4px;

          img {
            width: 20px;
          }

          p {
            margin: 0;
          }
        }

        .boton:hover {
          img {
            filter: invert(1);
          }
          p {
            color: white;
          }
          background-color: var(--dark-blue);
        }
      }
    }

    .cardContainer_cardInfo--imgCard {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      scale: 0.8;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 20px;
      overflow: hidden;
    }

    .cardContainer_cardInfo--descriptions {
      border-radius: 5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border: 1px solid #70707062;
      border-top: 3px solid #111111;
      border-bottom: 3px solid #111111;
      background-color: white;

      > div {
        padding: 10px;
      }

      hr {
        margin: 0;
      }

      h4 {
        margin: 0;
      }

      p {
        margin: 0;
      }

      .cardContainer_cardInfo--descriptions--legalContainer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 8px;

        .cardContainer_cardInfo--descriptions--legalContainer--legal {
          flex: 1 1 calc(50% - 2rem);
          display: flex;
          align-items: center;
          gap: 10px;

          span {
            padding: 5px 25px;
            background-color: #48ad60;
            color: white;
            border-radius: 3px;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
            font-size: 0.8rem;
          }

          p {
            font-size: 0.8rem;
          }
        }
      }
    }

    .cardContainer_cardInfo--languages {
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      margin-bottom: 15px;

      .cardContainer_cardInfo--languages--header {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: var(--dark-blue);
        color: white;

        .cardContainer_cardInfo--languages--header--logo {
          width: 30px;
          height: 30px;
          filter: invert(1);
        }

        .cardContainer_cardInfo--languages--header--text {
          display: flex;
          flex-direction: column;
          h2 {
            font-size: 1rem;
            margin: 0;
          }
        }
      }

      .cardContainer_cardInfo--languages--buttonLanguages {
        padding: 10px 0px;
        display: flex;
        flex-wrap: wrap;

        gap: 5px;
        button {
          background-color: var(--dark-blue);
          color: white;
          border: 1px solid transparent;
        }

        button:hover {
          background-color: #5e5383;
        }
      }

      .cardContainer_cardInfo--languages--prints {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        background-color: var(--dark-blue);
        color: white;

        > div {
          display: flex;
          gap: 10px;
        }

        p {
          margin: 0px;
        }
      }

      .cardContainer_cardInfo--languages--printsInfo {
        background-color: rgb(234, 234, 255);
        border-bottom: 4px solid var(--dark-blue);

        padding: 10px;
        display: flex;
        justify-content: space-between;

        > div {
          display: flex;
          gap: 10px;
        }

        p {
          margin: 0px;
        }
        span {
          color: yellowgreen;
        }
      }
    }
  }
}

.toolboxesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    margin: 0;
    font-weight: 600;
    font-size: 0.8rem;
    color: var(--dark-blue);
  }

  .toolboxesContainer__toolbox,
  .toolboxesContainer__buyThisCard,
  .toolboxesContainer__imagesAndData {
    display: flex;
    flex-direction: column;
    gap: 5px;

    > div {
      img {
        width: 20px;
      }
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 8px;
      border: 1px solid var(--dark-blue);
      padding: 6px 10px;
      border-radius: 4px;
    }

    > div:hover {
      img {
        filter: invert(1);
      }
      p {
        color: white;
      }
      background-color: var(--dark-blue);
    }
  }
}

.notesContainer {
  display: flex;
  flex-direction: column;

  .notesContainer__header {
    display: flex;
    align-items: center;
  }

  > div {
    display: flex;
    gap: 5px;

    span {
      color: rgb(159, 159, 159);
      font-style: italic;
    }
    .notesContainer__date {
      font-weight: lighter;
    }
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  p {
    margin: 0;
  }

  span {
    font-weight: 600;
    color: rgb(93, 44, 177);
  }
}

/* Media Queries */

@media (width <= 1316px) {
  section {
    > div {
      padding: 4vh 13vw;
    }
  }
}

@media (width <= 832px) {
  .cardContainer {
    .cardContainer_cardInfo {
      flex-wrap: wrap;

      > div {
        width: 100%;
      }

      .cardContainer_cardInfo--imgCard {
        scale: 0.9;

        margin: 10px 0;
      }
    }
  }
}

@media (width <= 720px) {
  section {
    > div {
      padding: 4vh 6vw;
    }
  }
}

@media (width <= 600px) {
  .toolboxesContainer {
    justify-content: center;
    gap: 30px;
  }
}
