<ng-container *ngIf="card; else loadingCard">
  <div class="HTMLContainer">
    <section *ngIf="card">
      <div class="cardContainer">
        <div class="cardContainer_cardInfo">
          <div class="cardContainer_cardInfo--imgCardContainer">
            <img
              class="cardContainer_cardInfo--imgCard"
              [src]="
                card.imageUrl
                  ? card.imageUrl
                  : '../../../assets/images/reversoCarta.png'
              "
              alt="img"
            />
          </div>

          <div>
            <div class="cardContainer_cardInfo--languages">
              <div class="cardContainer_cardInfo--languages--header">
                <img
                  class="cardContainer_cardInfo--languages--header--logo"
                  src="../../../assets/icons/crown_logo.png"
                  alt=""
                />
                <div class="cardContainer_cardInfo--languages--header--text">
                  <h2>{{ card.setName }} ({{ card.set }})</h2>
                  <span
                    >#{{ card.number }} {{ card.rarity }} -
                    {{ card.foreignNames[0].language }} - {{ card.layout }}
                  </span>
                </div>
              </div>
              <div class="cardContainer_cardInfo--languages--buttonLanguages">
                <button>EN</button>
                <button>ES</button>
                <button>FR</button>
                <button>UC</button>
                <button>KO</button>
                <button>AF</button>
                <button>AF</button>
                <button>AF</button>
                <button>AF</button>
                <button>AF</button>
                <button>AF</button>
                <button>:</button>
              </div>
              <div class="cardContainer_cardInfo--languages--prints">
                <p>PRINTS</p>
                <div>
                  <p>USD</p>
                  <p>EUR</p>
                  <p>TIX</p>
                </div>
              </div>
              <div class="cardContainer_cardInfo--languages--printsInfo">
                <p>{{ card.setName }}</p>
                <div>
                  <p>$0.08</p>
                  <p>$0.11</p>
                  <span>0.03</span>
                </div>
              </div>
            </div>

            <div class="cardContainer_cardInfo--descriptions">
              <div>
                <div>
                  <h4>{{ card.name }}</h4>
                </div>
              </div>
              <hr />
              <div>
                <p>{{ card.type }}</p>
              </div>
              <hr />
              <div>
                <p>{{ card.text }}</p>
              </div>
              <hr />
              <div>
                <p>Illustrated by {{ card.artist }}</p>
              </div>
              <hr />
              <div class="cardContainer_cardInfo--descriptions--legalContainer">
                <div
                  *ngFor="let legality of card.legalities"
                  class="cardContainer_cardInfo--descriptions--legalContainer--legal"
                >
                  <span>{{ legality.legality | uppercase }}</span>
                  <p>{{ legality.format }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr />

    <section>
      <div class="toolboxesContainer">
        <div class="toolboxesContainer__toolbox">
          <h3>TOOLBOX</h3>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/infinity.svg"
              alt=""
            />
            <p>TCGplayer Articles about this card</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/infinity.svg"
              alt=""
            />

            <p>TCGplayer decks with this card</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/amazon.svg"
              alt=""
            />

            <p>Search MTGTop8 for this card</p>
          </div>

          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/arrow-right-square.svg"
              alt=""
            />

            <p>Moxfield decks with this card</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/hourglass-top.svg"
              alt=""
            />

            <p>Card Analysis on EDHREC</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/badge-4k.svg"
              alt=""
            />

            <p>Card stats on Cube Cobra</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/database.svg"
              alt=""
            />

            <p>Open on Scryfall Tagger</p>
          </div>
        </div>
        <div class="toolboxesContainer__buyThisCard">
          <h3>BUY THIS CARD</h3>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/infinity.svg"
              alt=""
            />
            <p>TCGplayer Articles about this card</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/infinity.svg"
              alt=""
            />

            <p>TCGplayer decks with this card</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/amazon.svg"
              alt=""
            />

            <p>Search MTGTop8 for this card</p>
          </div>

          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/arrow-right-square.svg"
              alt=""
            />

            <p>Moxfield decks with this card</p>
          </div>

          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/database.svg"
              alt=""
            />

            <p>Open on Scryfall Tagger</p>
          </div>
        </div>
        <div class="toolboxesContainer__imagesAndData">
          <h3>IMAGES AND DATA</h3>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/infinity.svg"
              alt=""
            />
            <p>TCGplayer Articles about this card</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/infinity.svg"
              alt=""
            />

            <p>TCGplayer decks with this card</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/amazon.svg"
              alt=""
            />

            <p>Search MTGTop8 for this card</p>
          </div>

          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/arrow-right-square.svg"
              alt=""
            />

            <p>Moxfield decks with this card</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/hourglass-top.svg"
              alt=""
            />

            <p>Card Analysis on EDHREC</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/badge-4k.svg"
              alt=""
            />

            <p>Card stats on Cube Cobra</p>
          </div>
          <div>
            <img
              src="../../../assets/icons/bootstrap_icons/database.svg"
              alt=""
            />

            <p>Open on Scryfall Tagger</p>
          </div>
        </div>
      </div>
    </section>
    <hr />

    <section *ngIf="card">
      <div class="notesContainer">
        <div class="notesContainer__header">
          <h2>NOTES AND RULES INFORMATION FOR</h2>
          <span>{{ card.name | uppercase }}</span> :
        </div>

        <br />

        <ng-container *ngIf="card.rulings; else rules">
          <div>
            <p>{{ card.rulings[0].text }}</p>
            <span class="notesContainer__date"
              >({{ card.rulings[0].date }})</span
            >
          </div>
        </ng-container>

        <ng-template #rules>
          <div>
            <p>No data registered</p>
          </div>
        </ng-template>
      </div>
    </section>
  </div>
</ng-container>

<ng-template #loadingCard>
  <section>
    <div class="loadingContainer">
      <img src="../../../assets/animations/loader.svg" alt="" />
      <h1>Loading Card...</h1>
    </div>
  </section>
</ng-template>
